<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="PartnerCardSoap1">
                    <security mode="Transport" />
                </binding>
                <binding name="PartnerCardSoap2" />
            </basicHttpBinding>
            <customBinding>
                <binding name="PartnerCardSoap121">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://partnercard.turkiyeshell.com/partnercard/partnercard.asmx"
                binding="basicHttpBinding" bindingConfiguration="PartnerCardSoap1"
                contract="Shell_Prod.PartnerCardSoap" name="PartnerCardSoap1" />
            <endpoint address="https://partnercard.turkiyeshell.com/partnercard/partnercard.asmx"
                binding="customBinding" bindingConfiguration="PartnerCardSoap121"
                contract="Shell_Prod.PartnerCardSoap" name="PartnerCardSoap121" />
        </client>
    </system.serviceModel>
</configuration>